@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora:400,400i|Playfair+Display:400,700');
* {
    box-sizing: border-box;
}

webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Lora', serif;
}

h2,
h3,
h4 {
    font-family: 'Lora', serif;
}

p {
    font-family: 'Libre Baskerville', serif;
}


img {
    margin: 2% 3%;
}

#nav {
    width: 100%;
    top: 0%;
    position: fixed;
    font-family: 'Lora', serif;
    box-shadow: 0px 15px 10px -15px #111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    opacity: 0;
    animation: appear;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in;
    animation-duration: 1s;
    //background: rgba(0,0,0,0.05);
    z-index: 1;
    background: linear-gradient(-90deg, #ffffff, #8e8e8e, #e3e3e3);

}

nav ul {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 60%;
    margin: 0 auto;
}

.content li {
    list-style-type: none;
    width: 28%;
    text-align: center;
    padding: 2% 0;
}

.content li:hover {
    transform: translateY(10%);
    transition: .2s ease-in-out;
}

.content li a {
    padding: 10% 10%;
    color: #000000;
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: 3%;
    background: #ffceaf;
    width: 200px;
}

.dropdown ul {
    padding: 0px;
    text-align: center;
}

.dropdown ul li {
    padding: 3%;
}

.dropdown ul li:hover {
    border-top: 0px;
}

.portfolio:hover .dropdown {
    display: block;
}

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper-W,
.wrapper-C {
    max-width: 970px;
    margin: 0 auto;
}


/*---FOOTER----*/
footer {
    width: 100%;
    background: #49afb2;
}

footer p {
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    width: 100%;
    padding: 2%;
    border-right: 1px solid white;
}


.linkedImg {
    width: 40px;
    height: 40px;
    align-self: center;
    margin-right: 2%;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
}


.dash{
    width: 40px;
    height: 4px;
    background: #ffceaf;
    margin: 0 auto;
}

.dashTop, .dashBottom{
    width: 250px;
    height: 2px;
    background: #ffceaf;
    margin: 0 auto;
    animation-fill-mode: forwards;
}

.dashTop{
    animation: moveTop 0.5s ease-in;
}

.dashBottom{
    animation: moveDown 0.5s ease-in;
}

@keyframes moveTop{
    0% {
       transform: translateY(45px); 
    }
    100% {
        margin: 0 auto;
    }
}

@keyframes moveDown{
    from {
       transform: translateY(-45px); 
    }
    to{
        margin: 0 auto;
    }
}


/*----HOME------*/

.text1 {
    height: 100vh;
    background-attachment: fixed;
}

.page1 .img {
    height: 100vh;
    width: 100%;
}

.text1 h1 {
    animation: appear 1s ease-in;
}

.button {
    position: absolute;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 50px;
    height: 50px;
    background-size: 14px auto;
    animation: bounce 2s infinite;
    transition: 0.5s ease-in-out;
}

.button:before {
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: 2px solid #030303;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

#top,
#bottom,
#left,
#right {
    background: linear-gradient(#000638, #000b6a);
    position: fixed;
    animation: border-change infinite;
}

@keyframes border-change {}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 15px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top,
#bottom {
    left: 0;
    right: 0;
    height: 15px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

.text1 {
    padding: 3% 2%;
    height: 70vh;
}

.flex-h {
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.me {
    color: #000000;
    text-align: center;
}

.aboutMe{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    width: 120%;
    margin: 2% 4%;
}

.aboutMe a img{
    margin: 9%;
}


/*
.middle{
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/

/*---ABOUT ME-----*/

.text h1,
.button {
    animation-name: appear;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.text {
    padding-top: 15%;
    height: 100vh;
    transform: translateY(15%);
}

.contentBox {
    height: 100vh;
    padding-top: 10%;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
    ;
}

.content {
    font-family: 'Libre Baskerville', serif;
}

/*---RESUME---*/

.wrapper3 h2 {
    text-align: center;
}

.recheader{
    margin: 7%;
}

.recheader {
  position: relative;
  text-align: center;
}

h2 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.recheader:before {
  background: #adadad;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

.recheader:before {
  left: 0;
}

.flex-resume {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    margin: 0 auto;
}

.box3-1 p {
    margin: 0;
}

.flex-resume h4 {
    margin-bottom: 1%;
    padding: 0;
}

.box3-1,
.box3-2 {
    width: 48%;
    text-align: center;
    background: #49afb2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
}

.border {
    padding: 2%;
    border-style: double;
    border-color: aliceblue;
}

.letter1,
.letter2 {
    text-align: justify;
    background: #49afb2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    margin-bottom: 5%;
}

/*---CONTACT---*/

.form {
    max-width: 360px;
}

input {
    border: 0;
    border-bottom: 2px solid #23305c;
    width: 233px;
}

input:focus {
    animation: translate3d(-100%, 0, 0);
    transition: transform 0.3s;
}

input[type="submit"] {
    border: 1px solid #49afb2;
    width: 20%;
    padding: 1%;
    background: #49afb2;
    border-radius: 20px;
    margin-left: 23%;
}

label {
    height: calc(100% - 10px);
    top: 0;
    left: 0;
}

.wrapper-C h3 {
    text-align: center;
}

form {
    width: 100%;
    padding-left: 40%;
}

/*-----ART-----*/

.imgA {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.header {
    max-width: 100%;
    height: auto;
}

.pic:nth-child(1) {
    display: block;
}

.pic {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    top: 40%;
    right: 15%;
}

.prev {
    top: 40%;
    left: 20%;
}

/*--WRITTING--*/

.writting:nth-child(3) {
    margin-bottom: 6%;
}

.write {
    margin-top: 5%;
    background: #49afb2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    width: 45%;
}

.ww {
    align-self: flex-start;
    align-self: center;
}

.border p a{
    color: bisque;
}

.border p a:hover{
    background: #959595;
}

.exp {
    margin-top: 5%;
    width: 45%;
    padding: 2%;
    text-indent: 50px;
    color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*----PROGRAMMING----*/

.programexp {
    width: 50%;
    padding: 3%;
    text-align: justify;
    background: #49afb2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: center;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        background: black;
    }
}

@media screen and (max-width: 480px) {
    .icon {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
