@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora:400,400i|Playfair+Display:400,700');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

img {
    margin: 2% 3%;
}

#nav {
    width: 100%;
    background: transparent;
    top: 0;
    position: fixed;
    font-family: 'Lora', serif;
}

nav ul {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 50%;
    margin: 0 auto;
}

.flex-resume {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 80%;
    margin: 0 auto;
}

.content li {
    list-style-type: none;
    width: 20%;
    text-align: center;
    padding: 2% 0;
}

.content li:hover {
    border-bottom: 3px solid #ffceaf;
}

.content li a {
    padding: 10% 10%;
    color: #000000;
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: .4%;
    background: #ffceaf;
    width: 200px;
}

.dropdown ul li {
    margin: 5%;
}

.portfolio:hover .dropdown {
    display: block;
}

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper-W,
.wrapper-C {
    max-width: 990px;
    margin: 0 auto;
}


/*---ABOUT ME-----*/

.box1 {
    height: 100vh;
    text-align: center;
    padding-top: 5%;
    background: linear-gradient(#318083, #21585a);
}

.box1 h1,
.button {
    animation-name: appear;
    animation-duration: 3s;
}

.text {
    top: 50%;
    left: 50%;
    transform: translate(50%, 65%);
    width: 50%;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    padding-top: 
}

.contentBox {
    height: 100vh;
    padding-top: 10%;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
    ;
}

.content {
    font-family: 'Libre Baskerville', serif;
}

/*---PROGRAM---*/

/*---CONTACT---*/

.form {
    max-width: 360px;
}

input {
    border: 0;
    border-bottom: 2px solid #23305c;
    width: 233px;
}

input:focus {
    animation: translate3d(-100%, 0, 0);
    transition: transform 0.3s;
}

input[type="submit"] {
    border: 1px solid #49afb2;
    width: 20%;
    padding: 1%;
    background: #49afb2;
    border-radius: 20px;
    margin-left: 23%;
}

label {
    height: calc(100% - 10px);
    top: 0;
    left: 0;
}

.wrapper-C h3 {
    text-align: center;
}

form {
    width: 100%;
    padding-left: 40%;
}

/*-----ART-----*/

.header {
    max-width: 100%;
    height: auto;
}

/*--WRITTING--*/

.write {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.writting {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        background: black;
    }
}

@media screen and (max-width: 480px) {
    .icon {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
