@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora:400,400i|Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps');
* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.9);
}

body::-webkit-scrollbar-thumb {
    background-color: #1e4a5d;
    outline: 1px solid slategrey;
}

.svg1 {
    position: absolute;
    transform: scale(1.7) translateX(-35%);
    bottom: 13%;
    /*
    background: radial-gradient(circle, rgba(103,198,255,1) 12%, rgba(184,150,128,1) 37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
*/
}

.svg2 {
    position: absolute;
    transform: scale(1.7);
    top: -10%;
    right: 3%
}

.page1 {
    overflow-x: hidden;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
    font-weight: 400;
    font-size: 2.2em;
}

h2,
h3,
h4 {
    font-family: 'Lora', serif;
}

p,
label,
input,
textarea {
    font-family: 'Libre Baskerville', serif;
}


img {
    margin: 2% 3%;
}

#nav {
    width: 100%;
    position: fixed;
    font-family: 'Lora', serif; //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    opacity: 0;
    animation: appear;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    z-index: 5;
    background: transparent;
}

nav ul {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 60%;
    margin: 0 auto;
}

#content li {
    list-style-type: none;
    width: 28%;
    text-align: center;
    padding: 2% 0;
}

#content li:hover {
    transform: translateY(10%);
    transition: .2s ease-in-out;
}

#content li a {
    padding: 10% 10%;
    color: #000000;
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: 5.5%;
    background: #ffceaf;
    width: 200px;
}

.dropdown ul {
    padding: 10px;
    text-align: center;
}

.dropdown ul li {
    margin: 10px;
}

.dropdown ul li:hover {
    border-top: 0px;
}

.portfolio:hover .dropdown {
    display: block;
}

.wrapper1,
.wrapper2,
.wrapper3,
.wrapper-W,
.wrapper-C,
.art {
    max-width: 970px;
    margin: 0 auto;
}

/*---FOOTER----*/

footer {
    width: 100%;
    background: rgba(65, 103, 126, 1);
}

.info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    padding-left: 28%;
    margin-top: 1.5%;
}

.info1 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    width: 100%;
    padding-right: 27%;
    border-left: 1px solid white;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
}


.dash {
    width: 40px;
    height: 4px;
    background: #ffceaf;
    margin: 0 auto;
}

.dashTop,
.dashBottom {
    width: 250px;
    height: 3px;
    margin: 0 auto;
    animation-fill-mode: forwards;
}

.dashTop {
    animation: moveTop 0.5s ease-in;
    background: linear-gradient(135deg, rgba(65, 103, 126, 1) 60%, rgba(255, 206, 175, 1) 40%);
}

.dashBottom {
    animation: moveDown 0.5s ease-in;
    background: linear-gradient(135deg, rgba(255, 206, 175, 1) 60%, rgba(65, 103, 126, 1) 40%);
}

.text {
    height: 100vh;
    width: 100%;
    padding-top: 20%;
    font-size: 1.2em;
    background: linear-gradient(45deg, rgba(255, 206, 175, 1) 33%, rgba(65, 103, 126, 1) 81%);
    /*
    position: absolute;
    top: 0;
    //z-index: -99;
*/
}

/*----HOME------*/

.text1 {
    height: 100vh;
    padding-top: 15%;
    height: 85vh;
    transform: translateY(15%);
    font-size: 1.2em;
}

.text1 h1 {
    animation: appear 1s ease-in;
}

.button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 50px;
    height: 50px;
    background-size: 14px auto;
    animation: bounce 2s infinite;
    transition: 0.5s ease-in-out;
}

.button:before {
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: 2px solid #030303;
    border-width: 0px 0 2px 2px;
}

.text1 {
    padding: 3% 2%;
}

.flex-h {
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.middle p {
    text-align: center;
    margin-top: 0;
    color: #49afb2;
}

.recheader1 span {
    background: rgba(65, 103, 126, 1);
    margin: 0;
    padding: 0;
}

.aboutMe {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    width: 120%;
    margin: 10% 4%;
    background: linear-gradient(135deg, rgba(255, 206, 175, 1) 60%, rgba(65, 103, 126, 1) 40%);
}

.aboutMe a img {
    margin: 9%;
}

.aboutMe:hover {
    animation: shrink 0.2s linear alternate;
    animation-fill-mode: forwards;
}

.aboutMe:hover .recheader1:before {
    animation: slide1 0.6s ease-in-out alternate;
    animation-fill-mode: forwards;
}

.recheader1 {
    margin: 4% 10%;
    position: relative;
    text-align: center;
}

.recheader1:before {
    background: black;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}

.home {
    margin-top: 5%;
}


/*---ABOUT ME-----*/

.text h1,
.button {
    animation-name: appear;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.text-about h1 {
    animation: appear 2s ease-in;
}

.text-about {
    padding-top: 20%;
}

.contentBox {
    width: 50%;
    margin: 0;
    padding-top: 7%;
}


#content {
    font-family: 'Libre Baskerville', serif;
}

/*---RESUME---*/

.wrapper3 h2 {
    text-align: center;
}

p span,
h2 span {
    padding: 0 15px;
    position: relative;
    z-index: 1;
    background: white;
}

.recheader {
    margin: 7%;
    position: relative;
    text-align: center;
}

.recheader:before {
    background: #adadad;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}

.flex-resume {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    margin: 0 auto;
}

.box3-1 p {
    margin: 0;
}

.flex-resume h4 {
    margin-bottom: 1%;
    padding: 0;
}

.box3-1 {
    width: 45%;
    text-align: center;
    margin-top: 5%;
}

.box3-2 {
    background: #49afb2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    margin-bottom: 5%;
}

.border {
    padding: 2%;
    border-style: double;
    border-color: aliceblue;
}

.letter1,
.letter2 {
    text-align: justify;
    background: #49afb2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    margin: 10% auto;
    width: 90%;
}

/*---CONTACT---*/

.contact h1 {
    animation: appear 1s ease-in;
}

input,
textarea {
    border: 2px solid #23305c;
    width: 230px;
    font-size: 1.1em;
    background: #e2e2e2;
    overflow: hidden;
    margin: 0 auto;
}

input:focus,
textarea:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #23305c;
    transition: 0.2s ease-in;
}

textarea:focus {
    outline: none;
}

button[type="submit"] {
    border: 1px solid #49afb2;
    padding: 5%;
    background: #49afb2;
    margin: 0 20%;
    width: 50%;
}

button[type="submit"]:hover {
    cursor: pointer;
}

label {
    color: #606060;
}

form {
    margin-top: 12%;
    background: #e2e2e2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    transform: translateX(-20%);
}

/*-----ART-----*/

.imgA {
    max-width: 500px;
    position: relative;
    align-self: center;
}

.art {
    padding: 10% 0;
    height: 100vh;
}

.text3 {
    width: 40%;
    align-self: center;
}

.header {
    max-width: 100%;
    height: auto;
}

.pic:nth-child(1) {
    display: block;
}

.pic {
    display: none;
    margin-bottom: 2%;
    transition-delay: 0.5s;
}

.prev,
.next {
    cursor: pointer;
    width: auto;
    padding: 12px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    margin-left: 20%;
    user-select: none;
}

.next:hover,
.prev:hover {
    background: black;
    color: aliceblue;
    border-radius: 15%;

}

/*--WRITTING--*/

.writting:nth-child(2) {
    margin-bottom: 6%;
}

.write {
    margin-top: 5%;
    background: #49afb2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    width: 45%;
}

.ww {
    align-self: flex-start;
    align-self: center;
}

.border p a {
    color: bisque;
}

.border p a:hover {
    background: #959595;
}

.exp {
    margin-top: 5%;
    width: 45%;
    padding: 2%;
    text-indent: 50px;
    color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*----PROGRAMMING----*/

.wrapper2 h2 {
    text-align: center;
}

.wrapper2 h2:nth-child(1) {
    margin-top: 10%;
}

.turtle {
    margin-top: 2%;
    margin-bottom: 17%;
}

.zenGar {
    margin-bottom: 17%;
}

.programexp {
    width: 50%;
    padding: 3%;
    text-align: justify;
    background: #49afb2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: center;
}


/*---------KEYFRAMES--------*/

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes slide1 {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateX(-60px);
        opacity: 0;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
    ;
}

@keyframes moveTop {
    0% {
        transform: translateY(65px);
    }
    100% {
        margin: 0 auto;
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-65px);
    }
    to {
        margin: 0 auto;
    }
}

@keyframes appear2 {
    0% {
        opacity: 0;
        background: #49afb2;
        transform: translateX(-50%);
    }
    80%{
        opacity: 0.5
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
    ;
}



/*-----MEDIA QUERY---------*/

@media screen and (min-width: 701px) and (max-width: 1024px) {
    /*
    body {
        background: #dbdbdb;
    }
*/
    /*Footer----------------*/
    .info {
        padding-left: 20%;
    }

    .info1 {
        padding-right: 10%;
    }
    .icon {
        width: 38px;
        height: 5px;
        background-color: #000000;
        margin: 6px 0;
        transition: 0.5s ease-in;
    }
    #content {
        display: none;
        position: relative;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 100%;
        padding-left: 25%;
        padding-right: 25%;
    }
    #iconMenu {
        width: 6%;
        height: auto;
        position: relative;
    }
    #nav {
        width: 100%;
        height: auto;
        position: fixed;
        padding: 10px;
        animation: none;
        opacity: 1;
        background: #437695;
    }
    .flex {
        display: block;
        width: 100%;
    }

    #content li {
        list-style-type: none;
        width: 100%;
        text-align: center;
        margin: 2% auto;
        padding: 2% 0;
        opacity: 0;
    }

    #content li:nth-child(1) {
        animation: appear2 0.3s linear;
        animation-fill-mode: forwards;
    }

    #content li:nth-child(2) {
        animation: appear2 0.3s linear 0.3s;
        animation-fill-mode: forwards;
    }

    #content li:nth-child(3) {
        animation: appear2 0.3s linear 0.6s;
        animation-fill-mode: forwards;
    }
    #content li:nth-child(4) {
        animation: appear2 0.3s linear 0.9s;
        animation-fill-mode: forwards;

    }
    #content li:nth-child(5) {
        animation: appear2 0.5s linear 1.2s;
        animation-fill-mode: forwards;
    }

    #content li:nth-child(4):hover {
        background: white;
    }

    #content li:hover {
        transform: translateY(0);
        transition: .2s ease-in-out;
        background: #49afb2;
    }

    #content li a {
        padding: 1%;
        color: #000000;
    }

    .dropdown {
        display: block;
        position: static;
        margin: 0 auto;
        background: #ffffff;
        width: 200px;
    }

    .change .icon:nth-child(2) {
        opacity: 0;
    }

    .change .icon:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .change .icon:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 8px);
    }



    /*------Home Page ------------------------------------*/
    .svg1 {
        transform: scale(1.3) translateX(-43%);
        bottom: 5%;
    }

    .svg2 {
        transform: scale(1.3);
        top: -16%;
        right: -3%
    }

    .text1 {
        padding: 7% 15%;
        font-size: 1em;
    }

    .flex-h {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 4%;
    }

    .aboutMe {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2%;
        width: 100%;
        margin: 10% 4%;
    }

    .aboutMe a img {
        margin: 2% 0%;
    }

    /*---------about me------------*/
    .box1 .flex-resume {
        display: block;
    }

    .text-about {
        padding-top: 20%;
        height: 100vh;
        background: linear-gradient(45deg, rgba(255, 206, 175, 1) 33%, rgba(65, 103, 126, 1) 81%);
    }

    .contentBox {
        width: 80%;
        margin: 0 auto;
        padding-top: 20%;
    }

    /*Program*/
    .programexp {
        width: 45%;
    }

    .flex-resume img {
        width: 300px;
    }

    .contact .text-about {
        background: white;
    }

    /*---CONTACT---*/
    form {
        margin-top: 12%;
        height: 450px;
    }

}


/*------------------------------------------------------------------*/

@media screen and (max-width: 700px) and (min-width: 481px) {
    .icon {
        width: 38px;
        height: 5px;
        background-color: #000000;
        margin: 6px 0;
        transition: 0.5s ease-in;
    }
    #content {
        display: none;
        position: relative;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 100%;
        padding-left: 25%;
        padding-right: 25%;
        transition: 1s ease-in;
    }
    #iconMenu {
        width: 6%;
        height: auto;
        position: relative;
        margin: 0;
    }
    #nav {
        width: 100%;
        height: auto;
        padding: 10px;
        animation: none;
        opacity: 1;
        background: #437695;
    }
    .flex {
        display: block;
        width: 100%;
    }

    #content li {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding: 4% 0;
    }

    #content li:nth-child(4):hover {
        background: white;
    }

    #content li:hover {
        transform: translateY(0);
        transition: .2s ease-in-out;
        background: #49afb2;
    }

    #content li a {
        padding: 10% 10%;
        color: #000000;
    }

    .dropdown {
        display: block;
        position: static;
        margin: 0 auto;
        background: #ffffff;
        width: 200px;
    }

    .change .icon:nth-child(2) {
        opacity: 0;
    }

    .change .icon:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .change .icon:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    /*Footer-----------------------------------------*/
    .info {
        padding-left: 20%;
    }

    .info1 {
        padding-right: 10%;
    }

    /*----Home Page ----*/
    .svg1 {
        transform: scale(1.3) translateX(-43%);
        bottom: 5%;
    }

    .svg2 {
        transform: scale(1.3);
        top: -16%;
        right: -3%
    }

    .text1 {
        padding: 7% 15%;
        font-size: 1em;
    }

    .flex-h {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        margin-bottom: 4%;
    }

    .aboutMe {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2%;
        width: 100%;
        margin: 10% 4%;
    }

    .aboutMe a img {
        margin: 2% 0%;
    }

    /*About Me*/
    .box1 .flex-resume {
        display: block;
    }

    .text-about {
        padding-top: 30%;
        height: 100vh;
        background: linear-gradient(45deg, rgba(255, 206, 175, 1) 33%, rgba(65, 103, 126, 1) 81%);
    }

    .contentBox {
        width: 80%;
        margin: 0 auto;
        padding-top: 10%;
    }

    /*RESUME*/
    body {
        overflow-x: hidden;
    }
    .wrapper3 .flex-resume {
        display: block;
        width: 100%;
        margin: 15% auto;
    }

    .box3-1 p {
        margin: 0;
    }

    .box3-1 {
        width: 70%;
        margin: 0 auto;
    }

    /*Program*/
    .wrapper2 .flex-resume {
        display: flex;
        flex-direction: column;
    }

    .programexp {
        width: 70%;
        margin: 0 auto;
    }

    .flex-resume img {
        width: 350px;
        margin-left: 15%;
    }

    /*writting*/
    .wrapper-W .flex-resume {
        display: block;
    }

    .write {
        margin: 5% auto;
        width: 70%;
    }

    .exp {
        margin: 5% auto;
        width: 70%;
    }

    /*---CONTACT---*/
    .wrapper-c .flex-resume {
        display: flex;
        flex-direction: column;
    }

    .contact .text-about {
        padding-top: 30%;
        height: 100vh;
    }

    form {
        margin: 15% auto;
        transform: translateX(0);
    }

    /*----Art----*/
    .wrapper-a .flex-resume {
        display: block;
    }
    .imgA {
        max-width: 400px;
        margin: 0 auto;
    }

    .text3 {
        width: 70%;
        margin: 0 auto;
    }

    .pic img {
        margin: 0;
    }

    .prev,
    .next {
        margin-left: 0%;
    }

}

@media screen and (max-width: 480px) {

    /*    footer*/
    .info {
        padding-left: 0%;
    }

    .info1 {
        padding-right: 0%;
    }

    .icon {
        width: 38px;
        height: 5px;
        background-color: #000000;
        margin: 6px 0;
        transition: 0.5s ease-in;
    }
    #content {
        display: none;
        position: relative;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 100%;
        padding-left: 25%;
        padding-right: 25%;
        transition: 1s ease-in;
    }
    #iconMenu {
        width: 6%;
        height: auto;
        position: relative;
    }
    #nav {
        width: 100%;
        height: auto;
        padding: 10px;
        animation: none;
        opacity: 1;
        background: #437695;
    }
    .flex {
        display: block;
        width: 100%;
    }

    #content li {
        list-style-type: none;
        width: 100%;
        text-align: left;
        padding: 4% 0;
    }

    #content li:nth-child(4):hover {
        background: white;
    }

    #content li:hover {
        transform: translateY(0);
        transition: .2s ease-in-out;
        background: #49afb2;
    }

    #content li a {
        padding: 10% 10%;
        color: #000000;
    }

    .dropdown {
        display: block;
        position: static;
        background: #ffffff;
        width: 100%;
        margin-left: 12%;
    }

    .change .icon:nth-child(2) {
        opacity: 0;
    }

    .change .icon:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .change .icon:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    /*
    body {
        background: #adadad;
    }
*/
    footer {
        overflow: hidden;
    }

    .text {
        padding-top: 40%;
    }

    /*-----Home Page -------------*/
    .svg1 {
        opacity: 0;
    }

    .svg2 {
        display: none;
    }

    .text1 {
        padding: 20% 15%;
        font-size: 1em;
        margin-top: -20%;
    }

    .flex-h {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
        margin-left: 20%;
    }

    .aboutMe {
        width: 120%;
    }

    .button {
        display: none;
    }

    /*About Me*/
    .text-about {
        padding: 0 auto;
        font-size: 1em;
        background: linear-gradient(45deg, rgba(255, 206, 175, 1) 33%, rgba(65, 103, 126, 1) 81%);
        height: 100vh;
        margin: 0;
    }
    .dashTop,
    .dashBottom {
        width: 100px;
        padding: 0;
    }

    .box1 .flex-resume {
        display: block;
    }

    .text-about {
        padding: 30%;
        height: 80vh;
    }

    .contentBox {
        width: 90%;
        margin: 0 auto;
        padding-top: 10%;
    }

    /*RESUME*/
    .wrapper3 .flex-resume {
        display: block;
        width: 100%;
        margin: 15% auto;
    }

    .box3-1 p {
        margin: 0;
    }

    .box3-1 {
        width: 70%;
        margin: 0 auto;
    }
    .letter1,
    .letter2 {
        text-align: left;
    }

    /*Program*/
    .wrapper2 .flex-resume {
        display: block;
    }

    .programexp {
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }

    .flex-resume img {
        width: 220px;
        margin-left: 10%;
    }

    /*Writting*/
    .wrapper-W .flex-resume {
        display: block;
    }

    .write {
        margin: 5% auto;
        width: 70%;
    }

    .exp {
        margin: 5% auto;
        width: 70%;
    }

    /*---CONTACT---*/
    .wrapper-c .flex-resume {
        display: flex;
        flex-direction: column;
    }

    .contact .text-about {
        padding-top: 40%;
        height: 100vh;
    }

    form {
        margin: 15% auto;
        transform: translateX(0);
    }
    /*----Art----*/
    .wrapper-a .flex-resume {
        display: block;
    }
    .imgA {
        max-width: 400px;
        margin: 0 auto;
    }

    .text3 {
        width: 70%;
        margin: 5% auto;
    }

    .pic img {
        margin-top: 5%;
        margin-left: 5%;
        width: 230px;
    }

    .prev,
    .next {
        //margin-left: 0%;
    }

}
